<footer class="container-fluid d-flex flex-column p-3">
    <nav class="d-md-flex mx-5 my-3">
        <img src="/assets/logo.ico" alt="logo" width="40px">
        <ul class="text-warning d-md-flex fs-6">
            <li>Space</li>
            <li>Upgrade</li>
            <li>Ad-Free</li>
            <li>NewsLetter</li>
            <li>Get Certificate</li>
            <li>Report Error</li>
        </ul>
    </nav>
    <div class="d-md-flex gap-5 mx-5">
        <div class="m-3">
            <h2 class="fs-6 my-3 mt-5">Top Tutorials</h2>
            <ul>
                <li>HTML Tutorial</li>
                <li>CSS Tutorial</li>
                <li>JAVASCRIPT Tutorial</li>
                <li>SQL Tutorial</li>
                <li>PYTHON Tutorial</li>
                <li>JAVA Tutorial</li>
                <li>C++ Tutorial</li>
                <li>C# Tutorial</li>
                <li>R Tutorial</li>
                <li>AI ML Tutorial</li>
            </ul>
        </div>
        <div class="m-3">
            <h2 class="fs-6 my-3 mt-5">Top References</h2>
            <ul>
                <li>HTML Reference</li>
                <li>CSS Reference</li>
                <li>JAVASCRIPT Reference</li>
                <li>SQL Reference</li>
                <li>PYTHON Reference</li>
                <li>JAVA Reference</li>
                <li>C++ Reference</li>
                <li>C# Reference</li>
                <li>R Reference</li>
                <li>AI ML Reference</li>
            </ul>
        </div>
        <div class="m-3">
            <h2 class="fs-6 my-3 mt-5">Top Examples</h2>
            <ul>
                <li>HTML Examples</li>
                <li>CSS Examples</li>
                <li>JAVASCRIPT Examples</li>
                <li>SQL Examples</li>
                <li>PYTHON Examples</li>
                <li>JAVA Examples</li>
                <li>C++ Examples</li>
                <li>C# Examples</li>
                <li>R Examples</li>
                <li>AI ML Examples</li>
            </ul>
        </div>
        <div class="m-3">
            <h2 class="fs-6 my-3 mt-5">Get Certificates</h2>
            <ul>
                <li>HTML Certificate</li>
                <li>CSS Certificate</li>
                <li>JAVASCRIPT Certificate</li>
                <li>SQL Certificate</li>
                <li>PYTHON Certificate</li>
                <li>JAVA Certificate</li>
                <li>C++ Certificate</li>
                <li>C# Certificate</li>
                <li>R Certificate</li>
                <li>AI ML Certificate</li>
            </ul>
        </div>
    </div>
    <nav class="d-flex">
        <ul class="d-flex m-5 p-3 mb-1 pb-1">
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-youtube"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li>Fourm</li>
            <li>About</li>
        </ul>
    </nav>
    <p class="mx-5 px-3 container-fluid-sm">W3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.
        Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness
        of all content. While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy.</p>
    <p class="mx-5 px-3 container-fluid-sm">Copyright 2023-2024 by w3School. All Rights Reserved. w3School is Powered by w3School.</p>
</footer>